/ItemListener/nbproject/private/
/ItemListener/build/
/ItemListener/dist/
/ProyectoPrediccion/nbproject/private/
/ProyectoPrediccion/build/
/ProyectoConvertidor/build/
/ProyectoConvertidor/nbproject/private/
/ProyectoConvertidor/dist/
/ProyectoFinalU1/nbproject/private/
/ProyectoFinalU1/build/
/TAP_18_10/nbproject/private/
/ProyectoTodosComponentes/nbproject/private/
/ProyectoTodosComponentes/build/
/ProyectoMisComponentes14/dist/
/Librerìa/nbproject/private/
/Librerìa/build/
/Librerìa/dist/
/UsoLibreria/nbproject/private/
/UsoLibreria/build/
/Grafico/nbproject/private/
/Grafico/build/
/Grafico/dist/
/ProyectoGraficos/dist/
/GuiaTuristica_10/nbproject/private/
/FrameConexion/nbproject/private/
/FrameConnection/nbproject/private/
/FrameConnection/build/
/GuiaTuristica_25/dist/
/LibreriaConexion/nbproject/private/
/LibreriaConexion/build/
/LibreriaConexion/dist/
/EV_GUIAT_10/nbproject/private/
/EV_GUIAT_10/build/
/EV_GUIAT_10/dist/